/**
 Main background: #272822
 Lighter background: #3b3b3c 
 Cool Red: #FF5050
 Bright Green: #00ff00
 OSU Orange: #C34500
**/

* {
    background-color: #272822;
    color: white;
    font-family: tahoma;
}

a:hover, a:active {
    background-color: #FFFFFF;
    color: #272822
}

explain {
    color: #66FF33;
}

emph, emph a {
    font-weight: bold;
    color: #00ccff;
    font-family: "Lucida Console";
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 0px;
    margin-top: 0px;
}

#main {
    position: absolute;
    left: 220px;
    top: 50px;
    width: 60%;
    min-width: 400px;
}



#navbar {
    top: 0px;
    padding-top: 10px;
    margin-top: 0px;
    position: fixed;
    left: 220px;
    height: 35px;
    z-index: 1;
    white-space: nowrap;
    width: 1000px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float:left;
}

#navbar a:link, #navbar a:visited {
    display: block;
    width: 150px;
    padding-top: 05px;
    padding-bottom: 05px;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: bold;
    background-color: #3b3b3c;
    color: #FF5050;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#navbar a:hover, #navbar a:active {
    color: #3b3b3c;
    background-color: #FF5050;
}


#links {
    max-width: 200px;
    width: 200px;
    border: 1.5px solid #00ff00;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 50px;
    position: fixed;
    float: left;
    height: auto; 
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#links li {
    font-weight: bold;
}

#links a:link, #links a:visited {
    color: #00ff00;
    background-color: #272822;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}

#links a:hover, #links a:active {
    color: #272822;
    background-color: #00ff00;
}

table.t1 {
	margin: 1em auto;
	border-collapse: collapse;
	font-family: Tahoma, Helvetica, sans-serif;
}

.t1 caption {
	font-weight: bold;
}

.t1 th, .t1 td {
	padding: 4px 8px;
}

.t1 thead th {
	background: #C34500;
	text-align: left;
	font-size: 15px;
	color: #fff;
}

.t1 tr {
	border-right: 1px solid #c34500;
}

.t1 tbody tr {
	border-bottom: 1px solid #c34500;
}

.t1 tbody tr:nth-child(odd) {
	background: #dbe5f0;
}

.t1 tbody th, .t1 tbody tr:nth-child(even) td {
	border-right: 1px solid #c34500;
}

.t1 tfoot th {
	background: #c34500;
	text-align: left;
	font-weight: normal;
	font-size: 10px;
	color: #fff;
}

.t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
	text-align: right;
}
