<form id="myForm">
    First name: <input id="test" type="text" name="firstname"><br>
    Last name: <input type="text" name="lastname"><br>
    <button onclick="takeaction(this.form)">Submit</button>
</form>

<script>
    function takeaction(form) {
        alert(form.firstname.value);
        alert(form.test.value);
    }
</script>
