<div id="links" target=_blank>
    <ul>
        <li><a href="https://oregonstate.instructure.com/" target=_blank>Canvas</a></li>
        <li><a href="http://engineering.oregonstate.edu/teach" target=_blank>TEACH</a></li>
        <li><a href="https://myosu.oregonstate.edu" target=_blank>MyOSU</a></li>
        <li><a href="https://secure.onid.oregonstate.edu/cgi-bin/my?type=want_auth" target=_blank>ONID</a></li>
        <li><a href="http://ecampus.oregonstate.edu/online-degrees/undergraduate/computer-science/" target=_blank>Ecampus</a></li>
        <li><a href="http://oregonstate.edu/main/online-services" target=_blank>Online Services</a></li>
        <li><a href="http://oregonstate.edu/main/campus-online-directory" target=_blank>OSU Campus Online Directory</a></li>
        <li><a href="http://osubeaverstore.com/" target=_blank>OSU Bookstore</a></li>
        <li><a href="http://eecs.oregonstate.edu/news/weekly-news" target=_blank>EECS Weekly News</a></li>
        <li><a href="http://eecs.oregonstate.edu/online-cs-students/current-students/class-resources" target=_blank>Class Resources</a></li>
        <li><a href="http://catalog.oregonstate.edu/CourseList.aspx?subjectcode=CS" target=_blank>Schedule of Classes</a></li>
        <li><a href="http://ecampus.oregonstate.edu/services/student-services/online-tutoring/" target=_blank>Net Tutoring</a></li>
        <li><a href="http://catalog.oregonstate.edu/ChapterDetail.aspx?key=148" target=_blank>Academic Calendar</a></li>
        <li><a href="http://catalog.oregonstate.edu/ChapterDetail.aspx?key=374" target=_blank>When do I register?</a></li>
        <li><a href="http://www.reddit.com/r/learnprogramming/new/" target=_blank>Reddit - L2P</a></li>        
        <li><a href="https://www.discovermeteor.com/" target=_blank>Discover Meteor</a></li>
    </ul>

</div>
