<div id="navbar">
    <ul>
        <li><a href="/~bodalj/">Home</a></li>
        <li><a href="/~bodalj/courses">Courses</a></li>
        <li><a href="/~bodalj/linux">linux</a></li>
        <li><a href="/~bodalj/osu_contact">OSU Contact Info</a></li>
        <li><a href="/~bodalj/other">Other Stuff</a></li>
    </ul>
</div>
